In [6]:
import pandas as pd
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, r2_score

In [7]:
df = pd.read_csv("data/hiring.csv")
df.head()

,Candidate ID,Experience (Years),Test Score,Interview Score,Expected Salary (USD)
0,1,5,85,90,75000
1,2,3,78,82,65000
2,3,7,92,88,85000
3,4,2,74,75,60000
4,5,6,88,91,80000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Candidate ID           19 non-null     int64
 1   Experience (Years)     19 non-null     int64
 2   Test Score             19 non-null     int64
 3   Interview Score        19 non-null     int64
 4   Expected Salary (USD)  19 non-null     int64
dtypes: int64(5)
memory usage: 892.0 bytes

In [9]:
# Prepare features and target
X = df[['Experience (Years)', 'Test Score', 'Interview Score']]
y = df['Expected Salary (USD)']

In [10]:
# Split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [11]:
reg = linear_model.LinearRegression()
# reg.fit(df.drop(['Expected Salary (USD)', 'Candidate ID'], axis='columns'), df["Expected Salary (USD)"])

# Train the model
reg.fit(X_train, y_train)

# Make predictions
y_pred = reg.predict(X_test)

In [12]:
# Evaluate the model
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'Mean Absolute Error: {mae}')
print(f'R-squared: {r2}')

Mean Absolute Error: 680.4695191297433
R-squared: 0.9857705037206126

In [15]:
print("Model coefficient: ", reg.coef_)

Model coefficient:  [3080.28952668  756.70948666 -157.37689996]

In [16]:
print("Model intercept: ", reg.intercept_)

Model intercept:  8695.173959286672

Predicted salaries for following candidates: 
- 2 yr experience, 86 test score, 67 interview score
- 12 yr experience, 70 test score, 88 interview score

In [35]:
reg.predict([[2, 86, 67]])

c:\Users\Seblity\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([69480.58882212])

In [36]:
reg.predict([[12, 70, 88]])

c:\Users\Seblity\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([83857.59156965])

### Adding Predicted Salary for each rows

In [31]:
df['Predicted Salary'] = np.round(reg.predict(df[['Experience (Years)', 'Test Score', 'Interview Score']]))

In [32]:
df.head()

,Candidate ID,Experience (Years),Test Score,Interview Score,Expected Salary (USD),Predicted Salary
0,1,5,85,90,75000,74579.0
1,2,3,78,82,65000,64373.0
2,3,7,92,88,85000,86059.0
3,4,2,74,75,60000,59268.0
4,5,6,88,91,80000,79681.0