<h1 style="color:blue" align="center">Pandas Time Series Analysis: Period and PeriodIndex</h1>

<h3 style="color:purple">Yearly Period</h3>

In [1]:
import pandas as pd
y = pd.Period('2016')
y

Period('2016', 'Y-DEC')

In [2]:
dir(y)

['__add__',
 '__array_priority__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__radd__',
 '__reduce__',
 '__reduce_cython__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__setstate__',
 '__setstate_cython__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__weakref__',
 '_add_offset',
 '_add_timedeltalike_scalar',
 '_dtype',
 '_from_ordinal',
 '_maybe_convert_freq',
 '_require_matching_freq',
 'asfreq',
 'day',
 'day_of_week',
 'day_of_year',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'end_time',
 'freq',
 'freqstr',
 'hour',
 'is_leap_year',
 'minute',
 'month',
 'now',
 'ordinal',
 'quarter',
 'qyear',
 'second',
 'start_time',
 'strftime',
 'to_timestamp',
 'week',
 'weekday',
 'weekofyear',
 'year']

In [3]:
y.start_time

Timestamp('2016-01-01 00:00:00')

In [4]:
y.end_time

Timestamp('2016-12-31 23:59:59.999999999')

In [5]:
y.is_leap_year

True

<h3 style="color:purple">Monthly Period</h3>

In [6]:
m = pd.Period('2017-12')
m

Period('2017-12', 'M')

In [7]:
m.start_time

Timestamp('2017-12-01 00:00:00')

In [8]:
m.end_time

Timestamp('2017-12-31 23:59:59.999999999')

In [9]:
m+1

Period('2018-01', 'M')

<h3 style="color:purple">Daily Period</h3>

In [10]:
d = pd.Period('2016-02-28', freq='D')
d

Period('2016-02-28', 'D')

In [11]:
d.start_time

Timestamp('2016-02-28 00:00:00')

In [12]:
d.end_time

Timestamp('2016-02-28 23:59:59.999999999')

In [13]:
d+1

Period('2016-02-29', 'D')

<h3 style="color:purple">Hourly Period</h3>

In [15]:
h = pd.Period('2017-08-15 23:00:00',freq='h')
h

Period('2017-08-15 23:00', 'h')

In [16]:
h+1

Period('2017-08-16 00:00', 'h')

<h4>Achieve same results using pandas offsets hour</h4>

In [17]:
h+pd.offsets.Hour(1)

Period('2017-08-16 00:00', 'h')

<h3 style="color:purple">Quarterly Period</h3>

In [18]:
q1= pd.Period('2017Q1', freq='Q-JAN')
q1

Period('2017Q1', 'Q-JAN')

In [19]:
q1.start_time

Timestamp('2016-02-01 00:00:00')

In [20]:
q1.end_time

Timestamp('2016-04-30 23:59:59.999999999')

<h4>Use asfreq to convert period to a different frequency</h4>

In [21]:
q1.asfreq('M',how='start')

Period('2016-02', 'M')

In [22]:
q1.asfreq('M',how='end')

Period('2016-04', 'M')

<h3 style="color:purple">Weekly Period</h3>

In [23]:
w = pd.Period('2017-07-05',freq='W')
w

Period('2017-07-03/2017-07-09', 'W-SUN')

In [24]:
w-1

Period('2017-06-26/2017-07-02', 'W-SUN')

In [25]:
w2 = pd.Period('2017-08-15',freq='W')
w2

Period('2017-08-14/2017-08-20', 'W-SUN')

In [26]:
w2-w

<h3 style="color:purple">PeriodIndex and period_range</h3>

In [27]:
r = pd.period_range('2011', '2017', freq='q')
r

/tmp/ipykernel_5481/3343801356.py:1: FutureWarning: 'q' is deprecated and will be removed in a future version, please use 'Q' instead.
  r = pd.period_range('2011', '2017', freq='q')

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4',
             '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015Q1', '2015Q2',
             '2015Q3', '2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4',
             '2017Q1'],
            dtype='period[Q-DEC]')

In [28]:
r[0].start_time

Timestamp('2011-01-01 00:00:00')

In [29]:
r[0].end_time

Timestamp('2011-03-31 23:59:59.999999999')

**Walmart's fiscal year ends in Jan, below is how you generate walmart's fiscal quarters between 2011 and 2017**

In [30]:
r = pd.period_range('2011', '2017', freq='q-jan')
r

/tmp/ipykernel_5481/2587666501.py:1: FutureWarning: 'q-jan' is deprecated and will be removed in a future version, please use 'Q-JAN' instead.
  r = pd.period_range('2011', '2017', freq='q-jan')

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1', '2014Q2', '2014Q3',
             '2014Q4', '2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1',
             '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2', '2017Q3',
             '2017Q4'],
            dtype='period[Q-JAN]')

In [31]:
r[0].start_time

Timestamp('2010-11-01 00:00:00')

In [32]:
r[0].end_time

Timestamp('2011-01-31 23:59:59.999999999')

In [33]:
#r = pd.PeriodIndex('2016-01', periods=10, freq='Q')
r

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1', '2014Q2', '2014Q3',
             '2014Q4', '2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1',
             '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2', '2017Q3',
             '2017Q4'],
            dtype='period[Q-JAN]')

In [ ]:
import numpy as np
ps = pd.Series(np.random.randn(len(r)), r)
ps.plot()

<h4>Partial Indexing</h4>

In [ ]:
ps['2016']

In [ ]:
ps['2016':'2017']

<h4>Converting between representations</h4>

In [ ]:
pst = ps.to_timestamp()
pst

In [ ]:
pst.index

In [ ]:
ps = pst.to_period()
ps

In [ ]:
ps.index

<h3 style="color:purple">Processing Wal Mart's Financials</h3>

In [ ]:
import pandas as pd
df = pd.read_csv("wmt.csv")
df

In [ ]:
df.set_index("Line Item",inplace=True)
df = df.T
df

In [ ]:
df.index = pd.PeriodIndex(df.index, freq="Q-JAN")
df

In [ ]:
df.index

In [ ]:
df.index[0].start_time

<h4 style="color:green">Add start date end date columns to dataframe</h4>

In [ ]:
df["Start Date"]=df.index.map(lambda x: x.start_time)
df

In [ ]:
df["End Date"]=df.index.map(lambda x: x.end_time)
df