# Series

## Importing pandas

In [1]:
import pandas as pd

## Creating a Series

In [2]:
lst =[1,3,22,33,31,32]
s = pd.Series(lst)
s

0     1
1     3
2    22
3    33
4    31
5    32
dtype: int64

In [3]:
s[4]

31

In [42]:
s = pd.Series([1,3,22,33,31,32], 
              index=['a', 'b', 'b', 'b', 'e','f'], 
              name='test'
             )
s

a     1
b     3
b    22
b    33
e    31
f    32
Name: test, dtype: int64

In [43]:
s.loc['b']

b     3
b    22
b    33
Name: test, dtype: int64

In [5]:
s.iloc[0]

1

In [6]:
s.loc['a']

1

In [7]:
s.iloc[0:4]

a     1
b     3
c    22
d    33
Name: test, dtype: int64

In [8]:
#s['a':'d']
s.loc['a':'d']

a     1
b     3
c    22
d    33
Name: test, dtype: int64

## Calling Series Details

In [9]:
s.name

'test'

In [10]:
s.index

Index(['a', 'b', 'c', 'd', 'e', 'f'], dtype='object')

In [11]:
s.values

array([ 1,  3, 22, 33, 31, 32])

In [12]:
s.describe()

count     6.000000
mean     20.333333
std      14.746751
min       1.000000
25%       7.750000
50%      26.500000
75%      31.750000
max      33.000000
Name: test, dtype: float64

In [13]:
s.dtype

dtype('int64')

In [14]:
s.info()

<class 'pandas.core.series.Series'>
Index: 6 entries, a to f
Series name: test
Non-Null Count  Dtype
--------------  -----
6 non-null      int64
dtypes: int64(1)
memory usage: 268.0+ bytes

In [15]:
type(s)

pandas.core.series.Series

In [21]:
s1 = pd.Series(['red', 'blue', 'green','black','brown','white'])

In [22]:
s1

0      red
1     blue
2    green
3    black
4    brown
5    white
dtype: object

In [23]:
s1.describe()

count       6
unique      6
top       red
freq        1
dtype: object

## Calling by Index Value

### Calling single index value

In [24]:
s.iloc[3]

33

In [25]:
s.loc['c']

22

### Calling more than one index value

In [26]:
s[2:5]

c    22
d    33
e    31
Name: test, dtype: int64

In [27]:
s.iloc[[5,3,2,4]]

f    32
d    33
c    22
e    31
Name: test, dtype: int64

In [28]:
s.loc[['a','d','f']]

a     1
d    33
f    32
Name: test, dtype: int64

In [29]:
s>12

a    False
b    False
c     True
d     True
e     True
f     True
Name: test, dtype: bool

In [30]:
s[s>12]

c    22
d    33
e    31
f    32
Name: test, dtype: int64

In [31]:
s

a     1
b     3
c    22
d    33
e    31
f    32
Name: test, dtype: int64

In [32]:
s[s>30]

d    33
e    31
f    32
Name: test, dtype: int64

In [33]:
s[s>30] = 100

In [34]:
s

a      1
b      3
c     22
d    100
e    100
f    100
Name: test, dtype: int64

In [37]:
s.where(s>30,1)

a      1
b      1
c      1
d    100
e    100
f    100
Name: test, dtype: int64

In [38]:
s.min()

1

In [39]:
s.max()

100

In [40]:
s.mean()

54.333333333333336

In [41]:
s.std()

50.559535862848534